*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 15px;    
    min-width: 96vw;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-align: center;
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-position: top right, left bottom;
    background-repeat: no-repeat;
}
header{
    margin-top: 90px;
    position: relative;
    top: 30px;
}
header > h1{
    position: relative;
    bottom: 1px;
    color: hsl(233, 13%, 49%);
}
.toggler{
    color:  hsl(234, 14%, 74%);
}
main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6s0px;
}
.card{
    padding: 20px 20px;
    margin-bottom: 50px;
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 0px 20px rgba(192, 189, 189, 0.49);
    cursor: pointer;
}
.card > input{
    width: 260px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
    border: 0;
    padding: 12px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}
.card:nth-child(1){
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.card:nth-child(3){
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.info{
    color: hsl(233, 13%, 49%);
    margin: 10px;
    padding: 10px;
    position: relative;
    bottom: 20px;
    font-size: small;
    border-bottom: 1px solid hsl(234, 14%, 90%);
    padding-bottom: 20px;
    padding-top: 0;
}
#firstInfo{
    border-top: 1px solid hsl(234, 14%, 90%);
    padding-top: 20px;
}
.card:hover .info{
    border-bottom: 1px solid hsl(234, 14%, 90%);
}
.card:hover #firstinfo{
    border-bottom: 1px solid hsl(234, 14%, 90%);
}
.price{
    font-size: 60px;
    margin: 10px 0;
    color: hsl(232, 13%, 33%);
}
.h3{
    color: hsl(233, 13%, 49%);   
}
.card:hover{
    border-radius: 8px;
    transform: scaleY(1.1);
    background-image: linear-gradient(to right bottom, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
    color: white;
}
.card:hover .hover{
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%), hsl(0, 0%, 97%));
    color:hsl(237, 73%, 65%);
    position: relative;
    bottom: 15px; 
}
.card:hover .info{
    color: hsl(240, 100%, 100%);
    position: relative;
    bottom: 30px; 
    transform: scale(0.9);

}
.card:hover .price{ 
    color: hsl(240, 100%, 100%);
    transform: scale(0.9);
    position: relative;
    top: 5px;
}
.card:hover .h3{
    color: hsl(240, 100%, 100%);
    transform: scale(0.9);
    position: relative;
    top: 15px;
}
#dollar{
    position: relative;
    bottom: 8px;
    right: 5px;
    font-size: 30px;
    transform: scale(0.9);
}
@media(max-width:1200px){
    body{
        font-size: 15px;
        min-width: 90vw;
        min-height: 90vh;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        text-align: center;
        background-image: url(./images/bg-top.svg);
        background-repeat: no-repeat;
        background-position: top right -180px;
    }
    header{
        margin-top: 30px;
        position: relative;
        top: 70px;
        margin-bottom: 50px;
    }
    .card:hover{
        border-radius: 8px;
        background-image: linear-gradient(to right bottom, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
        color: white;
        transform: scaleY(1.1);
    }
    .card{
        padding: 20px 20px;
        margin-bottom: 50px;
        width: 280px;
        height: 400px;
        display: flex;
        border-radius: 8px;
        flex-direction: column;
        justify-content: space-around;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 0px 0px 20px rgba(192, 189, 189, 0.49);
    }
}
@media(max-width:375px){
    body{
        font-size: 15px;
        min-width: 90vw;
        min-height: 90vh;
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        text-align: center;
        background-image: url(./images/bg-top.svg);
        background-repeat: no-repeat;
        background-position: top right -230px;
    }
    .card:hover{
        border-radius: 8px;
        background-image: linear-gradient(to right bottom, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
        color: white;
        transform: scaleY(1);
    }
}
input[type="checkbox"]{
    position: relative;
    top: 13px;
    width: 65px;
    height: 35px;
    margin: 0 10px;
    appearance: none;
    background-color: hsl(233, 27%, 83%);
    outline: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 2px rgba(112, 110, 110, 0.2);
    transition: .5s;
}
input[type="checkbox"]:checked{
    background-image: linear-gradient(to right, hsl(236, 72%, 81%), hsl(237, 66%, 65%));
}
input[type="checkbox"]:before{
    content: '';
    position: absolute;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color:hsl(0, 0%, 100%);
    transition: 0.5s;
}
input:checked[type="checkbox"]::before{
    left: 32px;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(240, 78%, 98%);
    background-image: linear-gradient(to right bottom, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
    text-transform: uppercase;
    height: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.navbar ul{
    list-style: none;
    display: flex;
    margin: 0;
}
.navbar li{
    padding: 15px;
    display: block;
}
.navbar li:hover{
    background:hsl(236, 72%, 79%);
    cursor: pointer;
}
.navbar .nav-brand{
    margin-left: 15px;
    margin-top: 10px;
    height: 45px;
    position: relative;
    top: 8px;
}
.toggle-menu{
    position: absolute;
    top: 20px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-menu .bar{
   height: 3px;
   width: 100%;
   background-color: hsl(240, 78%, 98%);
   border-radius: 10px; 
}
@media(max-width:968px){
    header{
        top: 70px;
    }
}
@media(max-width:768px){
    .navbar{
        top: 50;
    }
    .toggle-menu{
        display: flex;
    }
    .nav-links{
        width: 100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links.active{
       display: flex; 
    }
}

/* footer */
footer{
    margin-top: 100px;
    background-image: linear-gradient(to left top, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
    padding: 40px;
}
footer .container .row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footerCol{
    margin-top: 30px;
    width: 25%;
    padding: 0 15px;
}
li{
    list-style: none;
}
.footerCol h4{
    font-size: 18px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    color: hsl(240, 78%, 98%);
}
.footerCol li a{
    font-size: 16px;
    text-transform: capitalize;
    color: hsl(232, 13%, 33%);
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-top: 20px;
}
@media(max-width:768px){
    .navbar{
        top: 50;
    }
    .toggle-menu{
        display: flex;
    }
    .nav-links{
        width: 100%;
        display: none;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        
    }
    main{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links.active{
       display: flex; 
    }
    footer{
        background-image: linear-gradient(to left top, hsl(236, 72%, 79%), hsl(237, 73%, 65%));
        padding: 40px;
    }
}